# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/build/
/eclipse
/run/
/out/
/asm/
/bin/
/build/
/config/
crash-reports/
/.idea/
/.metadata/
/libs/
/saves/
/resourcepacks/
/logs/
/mods/
/screenshots/
/classes/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

# Specific files
Thumbs.db
usernamecache.json
options.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
Paulscode*
README.txt
LICENSE-fml.txt
CREDITS-fml.txt
Essentials_Client.launch
Essentials_Server.launch

usercache.json
Essentials_Client NonLogin.launch
Essentials.eml
*.class
